4_1_aalignment_server/4_1_run_hmmpress/data/Pfam-A.hm*
4_0_get_short_name/data/Pfam-A.hmm

clinvar_AD_missense_genes_min3/
gnomad_r4_GRCh38_AD_missense_genes_freq-2_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-3_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-4_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-5_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-6_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-7_joined/
gnomad_r4_GRCh38_AD_missense_genes_freq-8_joined/
gnomad_r4_GRCh38_AD_missense_genes_joined/